version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - dev-network
    ports:
      - "8000:8000"

  postgres:
    build:
      context: ./docker/postgres
      dockerfile: Dockerfile
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - dev-network
    ports:
      - "127.0.0.1:5432:5432"   # Ensure that it matches the port in the .env file
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "backend", "-d", "movieFinder-DB"]   # Ensure that it matches the user and database in the .env file
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  dev-network:

volumes:
  postgres-data:
